.potential {
  padding: 80px 0;
  background: #F7F5FF;

  .flex {
    display: flex;
    padding: 0 60px;
    align-items: center;

    .flex__column {
      &:first-child {
        width: 100%;
      }

      .disclaimer {
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #806DFB;
        margin-bottom: 15px;
      }

      .title {
        max-width: 565px;
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 47px;
        color: #1E1360;
        margin: 0;
      }

      .button {
        white-space: nowrap;
        font-size: 20px;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 48px 24px;

    .flex {
      padding: 0;
      display: block;
      text-align: center;

      .flex__column {
        .title {
          max-width: initial;
        }

        .button {
          margin: 48px auto 0;
        }
      }
    }
  }
}