.contact__form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
}

.contact__form .form__content {
  width: 632px;
  height: 100vh;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 50px;
  z-index: 2;
  overflow-y: auto;
  -webkit-transform: translateX(632px);
          transform: translateX(632px);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.contact__form .form__content .form__head .form__title {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #27176C;
  margin-bottom: 54px;
  margin-top: 54px;
}

.contact__form .form__content .form__head .form__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1E1360;
  margin-bottom: 54px;
}

.contact__form .form__content .form__head .form__text.form__error {
  color: red;
  display: none;
}

.contact__form .form__content .form__head .form__text.form__error.active {
  display: block;
}

.contact__form .form__content .form__head .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form .form__content .form__head .close .steps__bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__form .form__content .form__head .close .steps__bar .bar {
  width: 51px;
  height: 9px;
  background: #ECECEC;
  border-radius: 100px;
  margin-right: 5px;
}

.contact__form .form__content .form__head .close .steps__bar .bar:first-child {
  background: #806DFB;
}

.contact__form .form__content .form__head .close .steps__bar.active .bar {
  background: #806DFB;
}

.contact__form .form__content .form__body {
  position: relative;
}

.contact__form .form__content .form__body .step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 60px;
  display: none;
}

.contact__form .form__content .form__body .step--active {
  display: block;
}

.contact__form .form__content .form__body .step .input__group {
  position: relative;
}

.contact__form .form__content .form__body .step .input__group .hr {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% + 21.5px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 32px;
  background: #806DFB;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: height 150ms ease-in-out;
  transition: height 150ms ease-in-out;
}

.contact__form .form__content .form__body .step .input__group label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: block;
  color: #27176C;
  margin-bottom: 13px;
}

.contact__form .form__content .form__body .step .input__group input {
  margin-bottom: 23px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #27176C;
  padding: 16px;
  border: 1px solid #CEDDE6;
  border-radius: 10px;
  outline: none !important;
}

.contact__form .form__content .form__body .step .input__group input:focus ~ .hr {
  height: 40px;
}

.contact__form .form__content .form__body .step .input__group .paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #27176C;
  margin-bottom: 21px;
}

.contact__form .form__content .form__body .step .input__group .checkbox {
  position: relative;
  cursor: pointer;
}

.contact__form .form__content .form__body .step .input__group .checkbox .check {
  width: 34px;
  height: 34px;
  background: #E7E7E7;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
}

.contact__form .form__content .form__body .step .input__group .checkbox .check::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 6px;
  width: 10px;
  height: 4px;
  background: #fff;
  -webkit-transform: rotate(45deg) scale(0);
          transform: rotate(45deg) scale(0);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.contact__form .form__content .form__body .step .input__group .checkbox .check::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  -webkit-transform: rotate(-45deg) scale(0);
          transform: rotate(-45deg) scale(0);
  width: 20px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.contact__form .form__content .form__body .step .input__group .checkbox label {
  padding-left: 43px;
  cursor: pointer;
}

.contact__form .form__content .form__body .step .input__group .checkbox input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.contact__form .form__content .form__body .step .input__group .checkbox input:checked ~ .check {
  background: #806DFB;
}

.contact__form .form__content .form__body .step .input__group .checkbox input:checked ~ .check::after {
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}

.contact__form .form__content .form__body .step .input__group .checkbox input:checked ~ .check::before {
  -webkit-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
}

.contact__form .form__content .form__body .step .button {
  margin-top: 47px;
  text-align: center;
  display: block;
  width: 100%;
}

.contact__form .form__content .form__body .step .round--green {
  width: 206px;
  height: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #49FADE;
  border-radius: 50%;
  margin: 95px auto 40px;
}

.contact__form .form__content .form__body .step .description {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #27176C;
  max-width: 467px;
  text-align: center;
  margin: 0 auto 15px;
}

.contact__form .form__content .form__body .step .disclaimer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1E1360;
  margin-bottom: 90px;
  display: block;
}

.contact__form .form__backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.contact__form.active {
  pointer-events: initial;
}

.contact__form.active .form__content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact__form.active .form__backdrop {
  opacity: 1;
}

@media (max-width: 991px) {
  .contact__form .form__content {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
  }
}
/*# sourceMappingURL=contato.css.map */